<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour, <%= @full_name %></h1>
    <p>
      Votre compte a été créé.
      Voici votre mot de passe: <%= @password %>.<br>
      Lien de  <%= link_to "connexion", new_user_session_url %>
    </p>
    <p>Merci!</p>
  </body>
</html>