
<p id="notice"><%= notice %></p>
<div class="container">
  <div class="card mt-4">
    <h5 class="card-header">Modifier aeroport</h5>
    <div class="card-body">
     <%= render 'form', admin_airport: @admin_airport, button_action: "Modifier" %>
    </div>
  </div>
</div>
