<p id="notice"><%= notice %></p>
<div class="container">
  <div class="card mt-4">
    <h5 class="card-header">Aeroport</h5>
    <div class="card-body">
      <p>Aeroport: <%= @admin_airport.name %></p>
      <p>Pays: <%= @admin_airport.country.name %></p>
    </div>
  </div>
</div>
