<div class="container">
  <div class="card mt-4">
    <h5 class="card-header">Nouveau Voyageur</h5>
    <div class="card-body">
      <%= render 'form', admin_traveler: @admin_traveler %>
    </div>
  </div>
</div>
