<div style="width:100%">
  <div style="width:100%">
    <div class="mb-4">
      <%= image_tag rails_blob_url(@admin_covid_test.barcode), width: 95, height: 49 %>
      <div style="font-size:12px;letter-spacing: 5px;width:50%;padding:0;"><%= @admin_covid_test.payment_code %></div>
    </div>
    <div class="my-4" style="border-bottom: 1px dashed #000"></div>
    <div class="mt-4">
      <%= image_tag rails_blob_url(@admin_covid_test.barcode), width: 95, height: 49 %>
      <div style="font-size:12px;letter-spacing: 5px;width:50%;padding:0;"><%= @admin_covid_test.payment_code %></div>
    </div>
  </div>
</div>