<div class="container">
  <div class="card">
    <h5 class="card-header">Nouveau test COVID 19</h5>
    <div class="card-body">
      <%= render 'form', admin_covid_test: @admin_covid_test %>
    </div>
  </div>
</div>