 <div class="home_page">
   <div class="container page_title text-right">
     <h1 class="text-gray mobile_title">Test COVID 19</h1>
     	<div class="row padtop desktop_title">
        <div class="offset-md-4 col-md-8 col-xs-12 col-sm-auto">
          <h2 class="titre1">Voyagez au Congo en toute sérénité</h2>
          <p>Tout voyageur au départ des aéroports internationnaux du Congo doit se soumettre, entre 30 heures et 12 heures avant son départ, à un test PCR COVID-19.</p>
        </div>
      </div>
     <p>
       <%= link_to  'Je paye le test', new_traveler_path, class: "btn btn-primary btn-lg"%>
     </p>
   </div>
 </div>