<section class="bg" >
  <div class="container">
    <div class="row padtop">
      <div class="offset-md-4 col-md-8 col-xs-12 col-sm-auto">
        <h2 class="titre1">Voyagez au Congo en toute sérénité</h2>
        <p>Tout voyageur au départ des aéroports internationnaux du Congo doit se soumettre, entre 30 heures et 12 heures avant son départ, à un test PCR COVID-19.</p>
      </div>
      <div class="offset-md-4 col-md-8 col-xs-12 col-sm-auto mar-form">
          <%= render "shared/traveler/form" %>
          <p class="sante">NB: Respecter les gestes barrières (port d'un cache-nez, maintien d'une distance sociale de 2 m, lavage régulier des mains, etc.) et l’ensemble des mesures énoncées par le Gouvernement Congolais pour endiguer la propagation du virus SRAS-Cov-2 sur le territoire.</p>
        </div>
      </div>
    </div>
</section>