<%= form_for(marque) do |f| %>
  <% if marque.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(marque.errors.count, "error") %> prohibited this marque from being saved:</h2>

      <ul>
      <% marque.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
