
<div class="container">
  <div class="card mt-4">
    <h5 class="card-header">Nouveau methode de paiement</h5>
    <div class="card-body">
      <%= render 'form', admin_payment_type: @admin_payment_type %>
    </div>
  </div>
</div>
