 <div class="card mt-4">
  <h5 class="card-header">Methode de paiement</h5>
  <div class="card-body">
    <p>Nom: <%= @admin_payment_type.name %></p>
    <p>Logo: <img class="payement-icon mr-1" src="<%= url_for(@admin_payment_type.logo) %>" /></p>
  </div>
</div>
